*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(250deg,rgb(11, 11, 145), white);
    /* transform: rotateX('angle'); */
    /* border: solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
    z-index: 9;
    position: absolute;
    right: 40px;
    /* top: 30px; */
    left: 70px;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signin{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(247, 245, 245);
    position: absolute;
    right: 20px;
    bottom: 120px;
    /* top: 30px; */
    left: 20px;
    /* font-size: 80px; */
}
.navdiv2{

}

.navbar{

}
.body{
    display: flex;
    /* align-items:stretch; */
    /* background-color: rgb(163, 204, 239); */
    background-image: url(imagezz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    /* border: solid black; */
    

}
.imgdiv{
    width: 35vw;
    height: 60vh;
    /* border: solid black; */
}
.uuu{
    width: 40vw;
    height: 50vh;
}
.body2{
    border: solid black;
    justify-content: space-around;
    position: relative ;
    right: -400px;
    top: 40px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    background-color: rgb(25, 25, 101);
}
.hh{
    color: blue;
}
.pp{
    color: white;
}
.do{
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
    padding-bottom: 15px;
}
.go input{
    margin-left: 30px;
    width: 350px;
    padding-bottom: 12px;
    text-align: left;
    font-size: large;
    /* border: none; */

}
.go{
    padding-bottom: 70px;
}
.so{
    margin-left: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: large;
}
.mail{
    color: white;
}
.no input{
    margin-left: 30px;
    width: 350px;
    padding-bottom: 12px;
    text-align: left;
    /* font-size: large; */
}
.no{
    padding-bottom: 70px;

}
.check{
    display: flex;
    gap: 50px;
    margin-left: 30px;
}
.checkboxdiv{
    display: flex;
    justify-content: space-around;
}
.lastpart{
    display: flex;
    /* justify-content: space-around; */
    padding-top: 30px;
    gap: 100px;
    margin-left: 30px;
}
.button{
    border-radius: 10px;
    width: 10vw;
    height: 25px;
    color: rgb(83, 83, 246);
}